@page
@model TestBookmarksDatabase.Administration.Users.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdentityUser.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdentityUser.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdentityUser.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdentityUser.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdentityUser.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdentityUser.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            Role Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdentityRole.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdentityUser.EmailConfirmed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdentityUser.EmailConfirmed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdentityUser.PhoneNumberConfirmed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdentityUser.PhoneNumberConfirmed)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.IdentityUser.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
